#catagory{
    margin-left: 20px;
}

#title{
    font-size:200%;
    font-weight:bold;
    margin-left: 20px;
}

form{
    margin-left: 20px;
    border-radius:5px;
    margin: 20px;
}

textarea{
    width:900px;
    height:30px;
}

.newText{
    width: 900px;
    border-radius:5px;
    margin: 20px;
}