.header{
    margin-right: 10px;
}

#motherDiv{
    margin-left: 20%;
    margin-top: 20px !important;
}

#textType{
    margin-left: 17%;
    margin-top: 20px !important;
}

#title{
    width:60% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    resize: none !important;
    overflow-y:hidden !important;
    /* height: auto; */
}

.coding {
    padding: 15px !important;
    border-radius:2px;
}

.codingBtn{
    width:80% !important;
    margin-top: 0px !important;
    margin-bottom: 8px !important;
    margin-left: 1px !important;
    border-radius: 0px !important;

}

.deleteBtn{
    font-size: 6px !important;
    padding-left: 0px !important;
}


.movable > p{
    margin-left: 0px;
    margin-bottom: 2px !important;
    padding-left: 12px;
    padding-bottom: 5px;
    width:80% !important;
    vertical-align: bottom !important;
    white-space: pre;
    cursor: grab;
}
.movable > p:hover{
    opacity: 0.7;
}

.currentPosition{
    border-top: 3px solid rgba(108, 102, 102, 0.2);
}
.currentLastPosition{
    border-bottom: 3px solid rgba(108, 102, 102, 0.2);
}


#inputForm .movable > form{
    margin-left: 0px;
}

#sepResult{
    margin-top: 2px;
    margin-left: 0px !important;
    border-radius: 2px;
    border:1px #000000 solid;
    padding: 10px;
    font-size: 90%;
    width:80% !important;
}

/* .enter{
    margin-left: 100%;
} */

.form-control-v2{
    width:80% !important;
    display: inline !important;
    vertical-align: top;
    margin-right: 2px !important;
}


/* .inline-control{
    width:953px !important;
    display: inline !important;
    vertical-align: bottom;
} */

.savebtn{
    margin-left: 10px;
}

 .navItem{
     font-size: 8px !important;
     padding-left: 0px !important;
     margin-left: 0px !important;
 }

 .icons{
     margin-bottom: 5px !important;
 }

 #pURL{
     font-size: 5px;
     padding-left: 5px !important;
 }

 .copyBtn{
    font-size: 5px !important;
    padding: 1px !important;
 }

 .publicRegion{
     padding-left: 10px;
     font-size: 5px !important;
     border-top: 1px !important;
 }

 .fileFunction{
    padding-left: 10px !important;
    font-size: 15px !important;
 }

 .list-group{
     cursor:default !important;
 }

 div > .toggle{
     height: 33px !important;
 }

 .favStar{
     margin-right: 5px;
 }



 /* .navbar-light .navbar-nav .nav-link{
    color: rgba(0,0,0) !important;
} */

/* .otherItems{
    color: rgba(0,0,0) !important; 
} */