.header{
    margin-right: 10px;
}

#motherDiv{
    margin-left: 20%;
    margin-top: 20px !important;
}

#textType{
    margin-left: 17%;
    margin-top: 20px !important;
}

#title{
    width:60% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    resize: none !important;
    overflow-y:hidden !important;
    /* height: auto; */
}

.coding {
    padding: 15px !important;
    border-radius:2px;
}

.codingBtn{
    width:80% !important;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 1px !important;

}

.movable > p{
    margin-left: 0px;
    margin-bottom: 2px !important;
    padding-left: 12px;
    padding-bottom: 5px;
    width:80% !important;
    vertical-align: bottom !important;
    white-space: pre;
}

#inputForm .movable > form{
    margin-left: 0px;
}

#sepResult{
    margin-top: 2px;
    margin-left: 0px !important;
    border-radius: 2px;
    border:1px #000000 solid;
    padding: 10px;
    font-size: 90%;
    width:80% !important;
}

/* .enter{
    margin-left: 100%;
} */

.form-control-v2{
    width:80% !important;
    display: inline !important;
    vertical-align: top;
    margin-right: 2px !important;
}


/* .inline-control{
    width:953px !important;
    display: inline !important;
    vertical-align: bottom;
} */

.savebtn{
    margin-left: 10px;
}

 .navItem{
     font-size: 8px !important;
     padding-left: 0px !important;
     margin-left: 0px !important;
 }

 .icons{
     margin-bottom: 5px !important;
 }