#title{
    font-size:200%;
    font-weight:bold;
    margin-left: 60px;
}

#catagory{
    margin-left: 60px;
}

textarea{
    width:900px;
    height:30px;
}

p{
	list-style-type:none;
	width:900px;
	margin-left: 60px;
	padding: 8px;
}   

.myButton {
	background:linear-gradient(to bottom, #0d0e0f 5%, #63666b 100%);
	background-color:#0d0e0f;
	border-radius:27px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:italic;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:3px 2px 0px #121314;
	margin-left: 60px;
}

#runCode{
    margin-left: 60px;
    margin-bottom: 10px;
}

#sepResult{
	margin-left: 60px;
	margin-bottom: 5px;
	margin-top: 5px;
	border:1px #000000 solid;
	font-size: 5px;
	padding: 8px;
	border-radius:5px;
}

.codeResult{
    width:900px;
    height:300px;
    margin: 60px;
    margin-top: 10px;
    border-radius:10px;
	border:5px #000000 solid;
	
}

#codeTitle{
    margin-left: 60px;
    margin-bottom: 10px;
}

div > .newText{
	border:1px #000000 solid;
	border-radius:5px;
}


form{
    border-radius:5px;
    margin: 20px;
	margin-left: 60px;
}

.movable {
	display: inline-block;
}